<div id="<%= dom_id season %>">
  <p>
    <strong>Name:</strong>
    <%= season.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= season.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= season.end_date %>
  </p>

</div>
